@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
.container {
  max-width: 301px;
  margin: auto;
}
.background {
  background: url("BG.png") no-repeat;
  background-size: cover;
  background-color: #2148c0;
}
.login {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
.username-input {
  color: #fff;
  height: 45px;
  width: 251px;
  border: 1px #fff solid;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  background: url(user.png) no-repeat center left;
  padding-left: 45px;
  background-position: 4% 50%
  
}
.username-input::placeholder {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.password-input {
  color: #fff;
  height: 45px;
  width: 251px;
  border: 1px #fff solid;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  background: url(lock.png) no-repeat center left;
  padding-left: 45px;
  background-position: 4% 50%
}
.password-input::placeholder {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.password {
  text-align: center;
  margin-bottom: 43px;
}
.button-style {
  color: #fff;
  text-align: center;
  color: #2148c0;
  font-family: "Montserrat", sans-serif;
}
.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 45px;
  width: 300px;
  color: #2148c0;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 4px;
}
.forgot-pass {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 23px;
}
.options-forg-pass {
  margin: auto;
  max-width: 300px;
}
.suk {
  color: #ff7171;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 200px;
  margin: auto;
}
.sum {
  color: #5dff4f;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 200px;
  margin: auto;
}
.basket {
  margin-top: 161px;
  margin-bottom: 71.15px;
  text-align: center;
}