* {
  margin: 0;
  padding: 0;
}
.container2 {
  display: flex;
  border-bottom: solid 6px;
  background-color: rgb(109, 35, 35);
  border-color: rgb(172, 167, 167);
  height: 105px;
  line-height: 105px;
  width: 100%;
  justify-content: space-between;
}
.logo {

}
.magazine-name {
  color: rgb(255, 220, 21);
}
.bascket {
  color: rgb(0, 0, 0);
  font-size: x-large;
  margin-right: 20px;
  
}
.WindowProduct1 {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;

  padding-right: 0px;
  justify-content: space-around;
}
.WindowProduct2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  justify-content: space-around;
}
.prod1 {
  font-size: x-large;
  width: 300px;
  padding-bottom: 20px;
  margin-bottom: 150px;
  margin-left: 30px;
  text-align: center;
  margin-top: 100px;
  border: solid 4px rgb(109, 35, 35);
  border-radius: 10%;
  color: rgb(255, 220, 21);
}
.prod2 {
  font-size: x-large;
  height: 30%;
  width: 300px;
  text-align: center;
  margin-top: 100px;
  width: 295px;
  border: solid 4px rgb(109, 35, 35);
  border-radius: 10%;
  color: rgb(255, 220, 21);
  padding-bottom: 20px;
}
.prod3 {
  font-size: x-large;
  height: 30%;
  width: 300px;
  text-align: center;
  margin-top: 100px;
  margin-right: 0px;
  width: 295px;
  border: solid 4px rgb(109, 35, 35);
  border-radius: 10%;
  color: rgb(255, 220, 21);
  padding-bottom: 20px;
}
.prod4 {
  font-size: x-large;
  width: 300px;
  height: 30%;
  margin-bottom: 150px;
  margin-left: 30px;
  text-align: center;
  border: solid 4px rgb(109, 35, 35);
  border-radius: 10%;
  color: rgb(255, 220, 21);
  padding-bottom: 20px;
}
.prod5 {
  font-size: x-large;
  width: 300px;
  height: 30%;
  margin-bottom: 150px;
  text-align: center;
  border: solid 4px rgb(109, 35, 35);
  border-radius: 10%;
  color: rgb(255, 220, 21);
  padding-bottom: 20px;
}
.prod6 {
  font-size: x-large;
  width: 300px;
  height: 30%;
  margin-bottom: 150px;
  text-align: center;
  margin-right: 0px;
  border: solid 4px rgb(109, 35, 35);
  border-radius: 10%;
  color: rgb(255, 220, 21);
  padding-bottom: 20px;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 19, 09px;
  justify-content: space-around;
}
.btn-right {
  width: 30px;
  height: 30px;
  color: rgb(109, 35, 35);
  font-size: large;
  font-size: x-large;
}
.btn-left {
  width: 30px;
  height: 30px;
  color: rgb(109, 35, 35);
  font-size: x-large;
}
