.App {
  display: flex;
  width: 100%;
}
.left{
  flex-basis: 50%;
  flex-shrink: 1;
  text-align: center;
  background-color: rgb(197, 53, 53);
}
.right {
  flex-basis: 50%;
  flex-shrink: 3;
  background-color: rgb(66, 66, 211);
  text-align: center;
}
